{% extends "global/Page.html" %}
{% block title %} Payment Information {% endblock %}
{% block content %}
    <div class="container">
        <ul style="font-size: 1.25rem; line-height: 1.5;">
            <li> You will receive an initial endowment of $18.</li>
            <li> Your final earnings can go up or down based on the choices you make. </li>
            <li> Even in the case of a loss, you cannot lose any of your own money, only part of your endowment.</li>
            <li> The next page describes how your potential gains and losses will be determined.</li>

   </ul>
        {% next_button %}
    </div>
{% endblock %}